<h1>AudioPhiles</h1>

<table>
  <tbody>
    <% @profiles.each do |profile| %>
        <td>
        <h3><%= profile.name %></h3>
        <%= link_to image_tag(profile.profile_picture_url, size: "100x150", class: 'list_image'), profile %>
        <h3>  </h3>
        <% if session[:profile_id] == 16 %>
          <%= link_to 'Delete', profile, method: :delete %>
        <% end %>
        </td>
    <% end %>
  </tbody>
</table>


