/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background: #232323;
}

#banner {
  a {
    color: #fff;
    margin-left: 2em;
    }
  background: #050505;
	/*linear-gradient(#b2e0e0, #009999);*/
  position: absolute;
  height: 45px;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  padding: 32px;
  border-bottom: 2px solid #8c8c8c;
  font: small-caps 50px/50px 'Ubuntu', sans-serif;
  color: #000;
  text-align: left;
  img {
    float: left;
  }
}

#columns {  
  
  #main {
    margin-left: 200px;
    margin-top: 11em;
    padding: 1em;
    background: #232323;
	/*#edfff9;*/
	/*#c6a6c6, #5c005c; #99c2ba  #66ffcc*/
    position: absolute;
    z-index: -1;
    right: 0;
    left: 0;
    top: 0;
  }

  #side {
    float: left;
    padding: 9em 2em;
    color: #000;

    background: #050505;
	/*linear-gradient(to right, #009999, #b2e0e0);*/
    border-right: 2px solid #000;
    width: 120px;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    bottom: 0;
    
    ul {
      padding: 0;
      li {
        list-style: none;
        a {
          color: #8c8c8c;
	  font-size: large;
	}
	&:hover {
          background-color: #eee;
	}
      }
    }
  }
}

