// Place all the styles related to the menu controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.cover {
  position: relative;
  height: 100px;
  width: 500px;
  padding: 1%;
  img{
    margin-bottom: 20px;
  }
}

.imgDescription {
  position: absolute;
  width: 148px;
  top: 1;
  bottom: 0;
  left: 0;
  right: 0;
  background: #050505;
  color: #fff;
  border: 1px solid #8c8c8c;
  margin-left: 10px;
  margin-bottom: 185px;


  visibility: hidden;
  opacity: 0;
}


.cover:hover .imgDescription {
  visibility: visible;
  opacity: 1;
}




.imglink {
  position: absolute;
  width: 150px;
  top: 0;
  bottom: 100px;
  left: 0;
  right: 0;
  background: #000;
  margin-left: 10px;


  visibility: hidden;
  opacity: 0;
}


.cover:hover .imglink {
  visibility: visible;
  opacity: 1;
}

.cover2 {
  position: relative;
  height: 100px;
  width: 500px;
  padding: 1.4%;
  img{
    margin-bottom: 20px;
  }
}

.imgDescription2 {
  position: absolute;
  width: 98px;
  top: 1;
  bottom: 0;
  left: 0;
  right: 0;
  background: #050505;
  color: #fff;
  border: 1px solid #8c8c8c;
  margin-left: 15px;
  margin-bottom: 185px;


  visibility: hidden;
  opacity: 0;
}


.cover2:hover .imgDescription2 {
  visibility: visible;
  opacity: 1;
}




.imglink2 {
  position: absolute;
  width: 150px;
  top: 0;
  bottom: 100px;
  left: 0;
  right: 0;
  background: #000;
  margin-left: 10px;


  visibility: hidden;
  opacity: 0;
}


.cover2:hover .imglink2 {
  visibility: visible;
  opacity: 1;
}

.imglink {
  position: absolute;
  width: 150px;
  top: 0;
  bottom: 100px;
  left: 0;
  right: 0;
  background: #000;
  margin-left: 10px;


  visibility: hidden;
  opacity: 0;
}


.cover:hover .imglink {
  visibility: visible;
  opacity: 1;
}
